page-quizz {

.bar .title { 
  font-size: 20px;
}

.fullScreen {
display: flex;
flex-direction: column;
height: 100%;
}

.displayQuizz {
margin: auto;
margin-top: 0px;
width: 100%;
height: 250px;
}

.displayQuizz:nth-child(1){
display: flex;
justify-content: space-between;
}

.displayQuizz:nth-child(2){
 font-size: 20px;
 text-align: center;
}

.displayQuizz:nth-child(3){
margin-bottom: 0px;
}


.progress-timer {
  position: relative;
  margin: 20px auto;
  font-size: 21px;
}

.timer {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 7em;
  font-size: 1em;
  text-align: center;
  font-weight: 100;
}

.scoreAndLife img{
height: 35px;
}

.joker {
display: flex;
justify-content: center;
}

.scoreAndLife:nth-child(1){
font-size: 20px;
color: green;
}

.scoreAndLife:nth-child(2){
display: flex;
flex-direction: column;
align-self: flex-end;
}

.scoreAndLife:nth-child(3){
font-size: 20px;
color: red;
}

.question p{
margin: 5px;
}

.boolPic {
margin-top: -115px;
opacity: 0.4;
}

.trt {
margin: 5px;
color: green;
}

.trf{
 margin: 5px;
color: red;
}

.jokerText p{
color: #2980b9;
margin: 0px;
}

.group-button {
display: flex;
justify-content: space-between;
}

.btnTrue{
background-color: green;
}

.btnFalse{
background-color: red;
}

.error p {
color: red;
}

$loading-md-box-shadow: none;

ion-loading.my-loading-class {
.loading-wrapper {
  background: transparent;
  box-shadow: none;
}
}
}





