<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<ion-header *ngIf="displayQuizz">
    <ion-navbar>
     <ion-buttons end>
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons left>
        <button ion-button icon-only (click)="dismissModal()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title class="title">Quizz {{displayQuizz.name}}({{displayQuizz.level}})</ion-title>
    </ion-navbar>
</ion-header>
<ion-content *ngIf="quizzResult">
 <div class="fullScreen">
    <div class="displayQuizz">
      <div class="scoreAndLife"><strong>Score:<span> {{score}}/10</span></strong></div>
        <div class="scoreAndLife">
          <div class="joker">
            <div *ngFor="let rdk of resultDisplayJoker"><img src="{{rdk.jokerImg}}"></div>
          </div>
         <div class="progress-timer" *ngFor="let act of getArrayTimer()"> 
           <div class="timer">
             {{getFormatTimer(act.currentTimer,'s')}}
           </div>
           <round-progress [current]="act.currentTimer" [max]="act.resetTimer" [color]="'#45ccce'" [radius]="70" [stroke]="stroke"  [rounded]="true" [responsive]="false" [animation]="'easeOutCubic'" [animationDelay]="0" ></round-progress>
          </div>
         </div>
        <div class="scoreAndLife">
    Vie: <span *ngFor="let rdl of resultDisplayLife">
           <i class="{{rdl.lifeIcon}}" aria-hidden="true"></i>
        </span>
      </div>
    </div>
    <div class="displayQuizz">
      <div class="textResponse">
             <strong><p class="trt" *ngIf="trueStatus">{{quizzResult.textResponseTrue}}</p></strong>
             <strong><p class="trf" *ngIf="falseStatus">{{quizzResult.textResponseFalse}}</p></strong>
             <strong><p class="trf" *ngIf="timeOutResponse">Temps écoulé!!</p></strong>
        </div>
         <div class="question">
              <strong><p>{{quizzResult.question}}</p></strong>
              
              <img  class="boolPic" *ngIf="trueStatus" src="{{quizzResult.truePicture}}" alt="">
              <img  class="boolPic" id="pictureSize" *ngIf="falseStatus" src="{{quizzResult.falsePicture}}" alt="">
         </div>
        <div class="next-button">
             <button *ngIf="trueStatus || falseStatus || timeOutResponse"  ion-button full (click)="getNextQuestion()">Suivant</button>

        </div>
        <div class="rightAnswer">
          <p class="trf" *ngIf="falseStatus || timeOutResponse">{{quizzResult.rightAnswer}}</p>
        </div>
        <div class="jokerText">
            <p *ngIf="flagJoker">{{quizzResult.jokerResponse}}</p>
        </div>
    </div>
</div>  
</ion-content>
<ion-footer *ngIf="quizzResult">
  <ion-toolbar>    
      <div class="group-button">          
        <button class="btnTrue" [disabled]="trueStatus || falseStatus || timeOutResponse" ion-button large (click)="trueResponse(quizzResult.id)">Vrai </button>
        <button class="past" [disabled]="trueStatus || falseStatus || timeOutResponse" ion-button large (click)="pastQuestion()">Passer</button>
        <button class="btnFalse" [disabled]="trueStatus || falseStatus || timeOutResponse" name="false" ion-button large (click)="falseResponse(quizzResult.id)">Faux</button>    
    </div>   
  </ion-toolbar>
</ion-footer>



